


.home-ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content:flex-end; 
    padding:0 40px ;
    
} 
.home-a {
    color: black;
    font-size:20px ;
    padding: 0px 10px ;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    list-style:none ;
    text-decoration: none;

}
.active{
    color: #FF6464;
}
#leftsection {
    padding:50px 0 ;
    width: 50%;
}
 #rightsection{ 
    padding: 50px 0;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sect-one{
    padding: 0 40px;
    display:flex;
    width: 100%;
    justify-content: space-between;
    }  
#rightsection img{
    width: 250px;
    height: 250px;
     border-radius: 50%;
}             
#love{

    background-color: #FF6464;
    color: white;
    padding: 20px;
    border-style: none;
    }
    #sect-div{
        display: flex;
        justify-content:space-between ;
        align-items: center;
        margin: 20px 20px;
        text-decoration: none;
        list-style:none ;
         }
    #lsect{
        display: flex;
        justify-content: space-between;
        align-items:center ;

    }
    #rsect{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
 #twosect{
    display: flex;
     justify-content: space-between;
     align-items: baseline;
     background-color: white;
     padding: 0 30px;
     
 }  
 #threesect{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 30px;
    

 }
 #sect-two{
    background-color: bisque;
    padding: 30px;
}
 #list{
    list-style: none;
    text-decoration: none;
 }
 #sectionl img{
    width: 200px;
    height: 60px;
 }
 #sectionr{
    display: flex;
 }
 .year{
    background: #142850;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 0px 13px;
    margin-right: 20px;
   background-size: 20px; 
}
 
 .fimg{
    width: 25px;
    height: 25px;
    margin: 0 15px;
    justify-content:center;
    align-items: center;
 }
 #one{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p{
    background-color: white;
    padding: 0 30px;
}
